#icon {
  font-size: 50px;
}
li {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}
.card:hover {
  transition: all 0.5s ease-out;
  transform: scale(1.1);
  box-shadow: 10px 5px 5px rgb(240, 240, 240);
}

.card {
  float: left;
  width: 25%;
}
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
